<div class="row">
 <!-- start left side -->
  <div class="col-xs-12 col-md-8 activity-feed" ng-controller="ProjectActivityFeed as ctrl">
    <div class="row activity-updates">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-title">
            <h1>project feed</h1>
          </div>
          <div class="card-content">
            <div class="activity" ng-repeat="activity in ctrl.activities" ng-cloak>
              <div class="user-status" ng-class="{current: currentUser.id == activity.user.id}">
                <img ng-src="{{activity.user.profile_image.small.url}}"
                  class="profile-image-small" rel="user image">
                <div class="comment-container" ng-show="ctrl.isComment(activity)">
                  <span class="comment">
                    {{activity.trackable.body}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- input box -->
    <div class="row">
      <%= form_for [@project, @new_comment], :url => project_comments_path(@project),
        html: {name: 'newProjectForm', 'data-gn-rails-form' => 'test' } do |f| %>
        <div class="col-xs-10 col-md-10">
          <textarea name="body" placeholder="Your message.."
            class="form-control" rows="3" ng-model="ctrl.newComment"></textarea>
        </div>
        <div class="col-xs-2 col-md-2">
          <button type="button" class="btn gn-btn-default" ng-click="ctrl.addComment()">SEND</button>
        </div>
      <% end %>
    </div>
    <!-- end input box -->
  </div>
  <!-- end left side -->

  <div class="col-xs-12 col-md-4">
    <div class="card">
      <div class="card-title">
        <h1>files</h1>
      </div>
    </div>
  </div>
</div>