<div class="row">
  <div class="col-xs-12 col-md-8 activity-feed">

    <div class="row activity-updates">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-title">
            <h1>project feed</h1>
          </div>
          <div class="card-content">
            <% for activity in @project.activities %>
              <div class="row activity <%= 'self' unless current_user != activity.user %> ">
                <%= get_user_display_name activity %>
                <%- to_activity_action activity %>
                <%- link_to_item activity %>
                <%= current_user.profile_image_tag :small %>
              </div>
            <% end %>
            <div class="activity">
              <%= current_user.profile_image_tag :small %>
              <p class="comment">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fermentum in sem at eleifend. Pellentesque non dui mollis massa facilisis consectetur vel a urna. Sed mi nulla, porta ut adipiscing a.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- input box -->
    <div class="row ">
      <div class="col-xs-10 col-md-10">
        <input type="text" placeholder="Your message">
      </div>
      <div class="col-xs-2 col-md-2">
        <button class="btn gn-btn-default">SEND</button>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-md-4">
    <div class="card">
      <div class="card-title">
        <h1>files</h1>
      </div>
    </div>
  </div>
</div>