.activity-feed {
  .activity {
    margin-bottom: 10px;

    .current-user {
      text-align: right;
    }

    .comment-container {
      background-color: #eee;
      position: relative;
      top: 12.5px;
    }

    .comment {
      padding: 5px 10px;
    }

    .comment:before, .comment:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
    }

    .other-user .comment:before {
      left: -13px;
      top: 0;
      border-style: solid;
      border-width: 7px 13px 7px 0;
      border-color: transparent #eeeeee transparent transparent;
    }

    .current-user .comment:before {
      left: 100%;
      top: 0;
      border-style: solid;
      border-width: 7px 0 7px 13px;
      border-color: transparent transparent transparent #eeeeee;
    }
  }

  textarea {
    width: 100%;
  }

  button {
    padding: 5px 10px;
    float: right;
  }

  .profile-image-small {
    border-width: 0;
  }
}

.activity-updates {
  margin-bottom: 15px;
}

/* starting animations */
.activity-updates .ng-enter {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  opacity: 0;
}

/* destination animations */
.activity-updates .ng-enter.ng-enter-active {
  opacity: 1;
}