@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.activity-feed {
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;

  .activity {
    margin-bottom: 10px;

    .current-user {
      text-align: right;
    }

    .comment-container {
      background-color: #eee;
      position: relative;
      max-width: 75%;
      padding: 5px 10px;
      float: left;
    }

    .user-status {
      img {
        float: left;
        margin-right: 23px;
      }
    }

    .user-status.current {
      .comment-container {
        float: right;
      }
      img {
        float: right;
        margin-left: 23px;
      }
    }

    .comment {
      padding: 5px 10px;
    }

    .comment:before, .comment:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      top: 5px
    }

    .user-status .comment:before {
      left: -13px;
      border-style: solid;
      border-width: 7px 13px 7px 0;
      border-color: transparent #eeeeee transparent transparent;
    }

    .user-status.current .comment:before {
      left: 100%;
      border-style: solid;
      border-width: 7px 0 7px 13px;
      border-color: transparent transparent transparent #eeeeee;
    }
  }

  textarea {
    width: 100%;
  }

  button {
    padding: 5px 10px;
    float: right;
  }

  .profile-image-small {
    border-width: 0;
  }
}

.activity-updates {
  margin-bottom: 15px;
}

/* starting animations */
.activity-updates .ng-enter {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  opacity: 0;
}

/* destination animations */
.activity-updates .ng-enter.ng-enter-active {
  opacity: 1;
}